.title_{
    
    font-size: 50px;

        position: relative;
        line-height: 32px;
        font-weight: 500;
        background: linear-gradient(
          73.6deg,
          #24af21 25%,
          #1c99cf 59.38%,
          #2A4CFF 85.42%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
    
}

.profile_btn {
    background-color: gray;
    color: white !important;
    width: 100px;
    height: 34px !important;
    line-height: 17px;
    font-weight: 600 !important;
}

.profile_btn:hover {
    background-color: #474d57;
}
