.title_{
    
    font-size: 50px;

        position: relative;
        line-height: 32px;
        font-weight: 500;
        background: linear-gradient(
          73.6deg,
          #24af21 25%,
          #1c99cf 59.38%,
          #2A4CFF 85.42%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
    
}

.profile_btn {
    background-color: #2e323a;
    color: white !important;
    width: 100px;
    height: 34px !important;
    line-height: 17px;
    font-weight: 600 !important;
}


.profile_btn:hover {
    background-color: #474d57;
}

.profile_btn_Forms {
    background-color: #2e323a;
    color: white !important;
    width: 150px;
    height: 34px !important;
    line-height: 17px;
    font-weight: 600 !important;
}

.img_banner{
    width: 100%;;
}

.t_{
    font-size: 30px !important;
}

.createform_btn {
    background-color: red !important;
}

/* mystyle.css */

/* Add any global styles if needed */

.zina {
    /* Common styles for the button */
    padding: 10px 20px;
    font-size: 30px !important;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #474d57;
    color: white; /* White text color */
    transition: background-color 0.3s ease;
    height: 50px;
    
    display: flex;
   
    margin-top: 200px;
  }
  
  .zina:hover {
    background-color: rgba(51, 56, 51, 0.194);
  }

  .zinax {
    /* Common styles for the button */
    padding: 10px 20px;
    font-size: 30px !important;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #474d57;
    color: white; /* White text color */
    transition: background-color 0.3s ease;
    height: 50px;
    
    display: flex;
   
    margin-top: 100px;
  }
  
  .zinax:hover {
    background-color: rgba(51, 56, 51, 0.194);
  }
  
  .form_btn {
    padding: 10px 20px;
    font-size: 20px !important;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #474d57;
    color: white; /* White text color */
    transition: background-color 0.3s ease;
    height: 50px;
    margin: 2px;
    margin-top: 50px;
  }